
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Arac Id</th>
            <th>Araba Adı</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Gunluk Ucreti</th>

        </tr>
    </thead>
    <tr *ngFor = "let cardetail of cardetails">
        <td>{{cardetail.carId}}</td>
        <td>{{cardetail.carName}}</td>
        <td>{{cardetail.brandName}}</td>
        <td>{{cardetail.colorName}}</td>
        <td>{{cardetail.modelYear}}</td>
        <td>{{cardetail.dailyPrice}}</td>

    </tr>
</table>